* {
    font-family: arial;
    margin: 0;
    padding: 0;
}
  
body {
    font-size: 18px;
}

/* -- Header Area Begin -- */

header a {
    text-decoration: none;
    color: #000;
  }
  
  header a:hover {
    color: #5f4a90;
    text-decoration: underline;
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #676565;
  }
  
  header .logo-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  header .logo-content img {
    width: 10%;
  }
  
  header .container {
    width: 40%;
    display: flex;
    align-items: center;
  }
  
  header .container ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  header .container ul li {
    list-style: none;
  }
  
  header .container ul .toggle-menu {
    color: purple;
    display: none;
  }


/* ASIDE */

aside {
    display: flex;
    background-image: url(../img/about-banner.jpg);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
    height: 30vh;
}

/* Main */

main {
    margin: 5vh;
    display: flex;
}

#textVideo {
    margin-left: 6.5vh;
    text-align: justify;
}

#divVideo video{
    width: 520px;
    height: 300px;
}

#textVideo h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

/* Music */

#music {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

#music h2 {
    margin-bottom: 3vh;
    font-weight: normal;
    font-size: 20px;
}

#music audio::-webkit-media-controls-panel {
    background-color: #ccc;
} 

/* footer */ 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #5f4a90;
}
  
footer p{
    color: #fff ;
}

